*{
    margin: 0;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}
nav{
    background-color:grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    position: sticky;
    top: 0px;
}
nav ul{
    display: flex;
} 
nav ul li{
   display: flex; 
   justify-content: space-between;
}
nav ul li a{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    color: black;
    text-decoration: none;
}
span{
    color:red;
}
#home{
    display: flex;
    flex-direction: column;
    height:650px;
}
#home::before{
    content: '';
    position: absolute;
  background-image: url('https://www.livemint.com/lm-img/img/2023/04/06/1600x900/2-0-357211293-Sundar-Pichai1-0_1680609766021_1680777374506_1680777374506.jpg');
  height: 650px;
  width: 100%;  
  background-size: cover;
  background-position: center;
  z-index: -1;

}
.main{
    border:1px solid rgb(54, 164, 191) ;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: -1;
    box-shadow:3px 4px 6px 7px yellow;
}
.heading{
    color: rgb(48, 107, 63);
    text-align: center;
    margin: 10px;
    font-weight: 900;
    font-size: 30px;

}
.heading:hover{
    color: rgb(11, 11, 11);
text-shadow: 3px 5px 6px rgb(5, 123, 136);
}
.pic{
    display: flex;
}
.pic p{
    text-align: justify;
    margin:40px ;
}
.photo{
    display: flex;   
}
.phto p{
    text-align: justify;
    margin:40px ;
 
}
h3{
    color: blue;
    text-align: center;
    text-decoration: underline;
}
.guide{
    display: flex;
}
.guide{
    text-align: justify;
    margin: 40px;
}
.prize{
    display: flex;
}
.prize{
    text-align: justify;
    margin: 50px;
}
.education{
    display: flex;
}
.education{
    text-align: justify;
    margin: 40px;
}
.gallery{
    margin-left: 150px;
    justify-content: space-between;
}
.gallery img{
    width: 300px;
    height: 200px;
    margin: 20px;
}
.gallery img:hover{
    border: 2px ridge black;
    box-shadow: 4px 3px 2px 3px purple;
    width: 350px;
    height: 250px;
}
.row{
    display: flex;
   flex-direction: row; 
}
.box{
    width: 300px;
    height: 450px;
    border: 2px ridge black;
    margin-left: 30px;
    background: linear-gradient(to top,yellow 50%,white);
    background-size: 100% 200%;
    transition: all 0.8s;
}
.box:hover{
    background-position: left bottom;
    border: none;
    box-shadow: 3px 3px 2px lightskyblue;
}
.box img{
    width: 300px;
    
}
.box h1{
    margin: 10px;
    color:blue;
}
.box p{
    margin: 10px;
    text-align: justify;
}
.input{
    width: 300px;
    align-items: center;
    flex-direction: row;
    margin: 10px 0;
}
form{
    width: 400px;
    margin-left: 550px;
    margin-right: 100px;
}